<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="js/app.js" defer></script>
    <title>Check-in</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="vuelos.html">Gestionar Vuelos</a></li>
            <li><a href="reservas.html">Gestionar Reservas</a></li>
            <li><a href="checkin.html">Check-in</a></li>
        </ul>
    </nav>
    <h1>Check-in en Línea</h1>

    <h2>Realizar Check-in</h2>
    <form id="checkin-form">
        <label for="reservaIdCheckin">ID de la Reserva:</label>
        <input type="number" id="reservaIdCheckin" required>
        <button type="submit">Realizar Check-in</button>
    </form>

    <div id="checkin-message"></div>
    <footer>
        <p>&copy; 2024 Sistema de Gestión de Vuelos. Todos los derechos reservados.</p>
        <p><a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a></p>
        <p>Contáctanos: <a href="mailto:info@gestionvuelos.com">info@gestionvuelos.com</a></p>
    </footer>
</body>
</html>
