<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Selección</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="login">

    <nav>
        Bienvenido a la Gestión de Vuelos
    </nav>

    <div class="container">
        <h1>Bienvenido</h1>
        <button onclick="location.href='vuelos.html'">Administrar Vuelos</button>
        <button onclick="location.href='index.html'">Pasajero</button>
    </div>

</body>
</html>
