/* ==================================================
   Sección General
================================================== */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
  margin:10vh 10vh;
  margin-bottom: 20vh;
  text-align: center;
  background-image: url('../img/airplane.png'); 
  background-position: left center; 
  background-repeat: no-repeat; 
  background-size: 15%;  
  overflow-x: hidden;
}

h1 {
  margin-top: 5%;
  color: #0A3D62; 
  text-align: center;
}


h1 {
  margin-top: 5%;
  color: #0A3D62; 
  text-align: center;
}

/* ==================================================
 Sección Navegación
================================================== */
nav {
  background-color: #0A3D62; 
  padding: 0.2em;
  text-align: center;
  position: fixed; 
  top: 0.1%; 
  left: 5%;
  right: 6%;
  width: 90%;
  z-index: 1000; 
  font-size: 1.7em;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(58, 34, 196, 0.274);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5vh; 
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.icon {
  margin-bottom: -0.4%;
  width: 3.5vh;
  margin-right: 2%;
}

/* ==================================================
 Sección Banner
================================================== */
.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner h1 {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(182, 190, 240);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}


/* ==================================================
 Sección Lista de Vuelos
================================================== */
.vuelo-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.oculto {
  display: none;
}

button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5%;
}

button:hover {
  background-color: #0A3D62;
}

/* ==================================================
 Sección Tabla de Vuelos Disponibles
================================================== */
#vuelosDisponibles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


table {
  width: 80%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #0A3D62;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* ==================================================
 Sección Reservas y Check-in
================================================== */
#resultado {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#resultado.oculto {
  display: none;
}
.reservas, .checkin {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.reservas h2, .checkin h2 {
  color: #0A3D62;
}

.reservas button, .checkin button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.reservas button:hover, .checkin button:hover {
  background-color: #45a049;
}

/* ==================================================
 Sección de Formulario 
================================================== */
form {
  margin-top: 20px;
  text-align: center;
}

form input, form select, form button {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #1E90FF;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #0A3D62;
}

/* ==================================================
 Sección Footer
================================================== */
footer {
  background-color: #0A3D62;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #66B2FF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

